.forgotpassword form{
    display: grid;
    grid-template-columns: 150px 300px;
    /* box-shadow: 0px 0px 20px white; */
    padding: 10px;
    border-radius: 20px;
}
.forgotpassword input::placeholder{
    color:black;
}
.forgotpassword label{
    color: black;
    font-size: bold;
}
.forgotpassword{
    width: 40%;
    background-color: rgb(14, 119, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 300px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 50px;
}
