
.resetpassword form{
    display: grid;
    grid-template-columns: 150px 300px;
    box-shadow: 0px 0px 20px white;
    padding: 10px;
    border-radius: 20px;
}
.resetpassword{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.resetpassword input::placeholder{
    color:black;
}
.resetpassword label{
    color: black;
    font-size: bold;
}